/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Light gray background */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
/* Sticky Navbar */
header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays on top of other content */
  background-color: #007bff; /* Match your navbar color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for a subtle shadow */
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header nav {
  display: flex;
  align-items: center;
}

header .nav-link {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}

header .nav-link:hover {
  text-decoration: underline;
}

header .navbar-brand {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

header .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

/* Navbar Brand */
.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}


/* About us */
.card {
  border-radius: 10px;
}

.card h2 {
  font-size: 28px;
  font-weight: bold;
}

.card p {
  font-size: 16px;
  color: #6c757d;
}

.card .card-title {
  font-size: 18px;
  font-weight: bold;
}

.card .card-text {
  color: #6c757d;
}

/* Blog Post */

.modal-overlay {
  animation: fadeIn 0.3s ease-in-out;
}

.posts .card {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.posts .card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



/* Mobile Responsive Styles */
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}
